<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Using Jinja's block system. Each page can have their own title -->
    <title>{% block title %} {% endblock %}</title>

    <!-- Bootstrap CSS File -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- Navigation bar which updates with the user -->
            {% for i in ['home', 'about', 'messages'] %}
            <a
              class="nav-link {% if page == i %}active{% endif %}"{% if page=="i" %}aria-current="page"{% endif %}
              href="/{% if i == 'home' %} {% else %}{{i}}{% endif %}"
              >{{i.capitalize()}}</a
            >
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>

    <!-- Each page's content will be placed inside of the body tag 
    This will reduce the need for repition as they can be loaded in this file instead. -->
    {% block content %} {% endblock %}

    <!-- Bootstrap JS File -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
